.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 0;
    overflow: auto;
    visibility: 1;
    background-color: rgba(142, 140, 140, 0.685);
    transition: all .6s ease;

    &__content {
        border-radius: 10px;
        margin: 50px 10px;
        padding: 15px;
        background-color: #fff;

        @media (min-width: 576px) {
            margin: 60px 50px;
        }

        @media (min-width: 768px) {
            margin: 90px 100px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }

    &__primary {
        @media (min-width: 768px) {
           width: 45%;
        }
    }

    &__image {
        margin: auto;
        @media (min-width: 768px) {
           width: 45%;
        }
    }

    &__primary {
        width: 100%;
    }
}
